<html>
<div class="authorizations-container">

    <div id="login-container" class="box-container">
        <div class="container-content auth-container">
            <form name="loginForm">
                <span class="authTitle">Login!</span>
                <label>Email:
                    <input type="email" name="loginemail" ng-model="loginemail" required>
                    <span class="authInfo authError" ng-show="loginForm.loginemail.$touched && loginForm.loginemail.$error.required">Email is required.</span>
                    <span class="authInfo authError" ng-show="loginForm.loginemail.$touched && loginForm.loginemail.$error.email">Must be a valid email.</span>
                </label>
                <label>Password:
                    <input type="password" name="loginpassword" ng-model="loginpassword" required>
                    <span class="authInfo authError" ng-show="loginForm.loginpassword.$touched && loginForm.loginpassword.$invalid">Password is required</span>
                </label>
                <button ng-model="submitLogin" ng-disabled="loginForm.$invalid">Login!</button>
            </form>
        </div>
        <div class="container-bottom"></div>
    </div>

    <div id="register-container" class="box-container">
        <div class="container-content auth-container">
            <form name="registerForm">
                <span class="authTitle">Join Here!</span>
                <label>Email:
                    <input type="email" name="regemail" ng-model="regemail" required>
                    <span class="authInfo authError" ng-show="registerForm.regemail.$touched && registerForm.regemail.$error.required">Email is required.</span>
                    <span class="authInfo authError" ng-show="registerForm.regemail.$touched && registerForm.regemail.$error.email">Must be a valid email.</span>
                </label>
                <label>Password:
                    <input type="password" name="regpassword" ng-model="regpassword" ng-minlength="6" required>
                    <span class="authInfo authError" ng-show="registerForm.regpassword.$touched && registerForm.regpassword.$invalid">*Mininmum 6 characters long</span>
                </label>
                <label>Confirm Password:
                    <input type="password" name="regpasswordconfirm" ng-model="regpasswordconfirm" ng-minlength="6" required>
                    <span class="authInfo authError" ng-show="registerForm.regpasswordconfirm.$touched && regpassword != regpasswordconfirm">Passwords must match</span>
                </label>
                <button ng-model="submitReg" ng-disabled="registerForm.$invalid || regpassword != regpasswordconfirm">Join!</button>
            </form>
        </div>
        <div class="container-bottom"></div>
    </div>
</div>
</html>